name: mmwe

services:

  app:
    build: .
    image: 'code.mikael.io/mikaelhg/mmwe:latest'
    hostname: app
    pull_policy: never
    environment:
      SERVER_PORT: 8080
      SPRING_PROFILES_ACTIVE: oauth2-local
      OTEL_EXPORTER_OTLP_ENDPOINT: http://jaeger:4318
      OTEL_LOGS_EXPORTER: none
      OTEL_METRICS_EXPORTER: none
    ports:
      - "20080:8080"
    depends_on:
      - postgres
      - redis
      - jaeger
      - loki
      - grafana
      - dex
    labels:
      logging: "promtail"
      logging_jobname: "containerlogs"
    logging:
      driver: "json-file"
      options:
        max-size: "1m"
        max-file: "1"
        tag: "{{.Name}}"

  postgres:
    image: 'postgres:17-alpine'
    environment:
      POSTGRES_USER: app
      POSTGRES_PASSWORD: app
      POSTGRES_DB: app
    ports:
      - "25432:5432"
    command: postgres -c shared_preload_libraries=pg_stat_statements
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U app -d app"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 1s

  redis:
    image: 'redis:7-alpine'

  jaeger:
    image: 'jaegertracing/jaeger:latest'
    ports:
      - "26686:16686"

  loki:
    image: 'grafana/loki:latest'
    command: '-config.file=/etc/loki/loki.yaml -log.level=warn'
    configs:
      - source: loki_conf
        target: /etc/loki/loki.yaml

  grafana:
    image: 'grafana/grafana-oss:latest'
    ports:
      - "23000:3000"
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
      - GF_USERS_ALLOW_SIGN_UP=false
      - GF_AUTH_ANONYMOUS_ENABLED=true
      - GF_AUTH_ANONYMOUS_ORG_ROLE=Admin
      - GF_LOG_LEVEL=error
    volumes:
      - ./docker/grafana/provisioning/:/etc/grafana/provisioning/
    depends_on:
      - loki

  promtail:
    image:  grafana/promtail:latest
    volumes:
      - /var/lib/docker/containers:/var/lib/docker/containers:ro
      - /var/run/docker.sock:/var/run/docker.sock
    command: -config.file=/etc/promtail/docker-config.yaml
    depends_on:
      - loki
    configs:
      - source: promtail_conf
        target: /etc/promtail/docker-config.yaml

  dex:
    image: 'ghcr.io/dexidp/dex:latest'
    volumes:
      - dex_db:/var/dex
    ports:
      - "25556:5556"
    configs:
      - source: dex_conf
        target: /etc/dex/config.docker.yaml

volumes:
  dex_db:

configs:
  dex_conf:
    file: ./docker/dex.yaml
  promtail_conf:
    file: ./docker/promtail/promtail.yaml
  loki_conf:
    file: ./docker/loki/loki.yaml
