application.name: counter

spring.jackson.serialization:
    indent-output: true

server.servlet.session.cookie:
  http-only: true
  secure: true
  same-site: strict

spring:
  security:
    oauth2:
      client:
        registration:
          dex:
            client-id: modern
            client-secret: secret
            scope: openid, email, profile
            redirect-uri: "http://localhost:20080/login/oauth2/code/dex"
            authorization-grant-type: authorization_code
        provider:
          dex:
            user-name-attribute: email
            authorization-uri: "http://localhost:25556/dex/auth"
            token-uri: "http://dex:5556/dex/token"
            jwk-set-uri: "http://dex:5556/dex/keys"
            user-info-uri: "http://dex:5556/dex/userinfo"

logging.level:
  org.springframework: ERROR
  org.elasticsearch: ERROR
  org.hibernate: ERROR
  io.undertow: ERROR
  org.xnio: ERROR
  org.apache: ERROR
  com.zaxxer.hikari: ERROR
  # org.springframework.security: DEBUG

server.port: 8082

#spring.web.resources.static-locations: 'file:./frontend/dist'

server.error.whitelabel.enabled: true
