server.servlet.session.cookie:
  http-only: false
  secure: false
  same-site: lax

spring:
  datasource:
    url: jdbc:postgresql://postgres/app
    username: app
    password: app
  redis:
    host: redis
  banner:
    location: classpath:/banner-local.txt
  security:
    oauth2:
      client:
        registration:
          dex:
            client-id: modern
            client-secret: secret
            scope: openid, email, profile
            redirect-uri: "http://localhost:20080/login/oauth2/code/dex"
            authorization-grant-type: authorization_code
        provider:
          dex:
            user-name-attribute: email
            authorization-uri: "http://localhost:25556/dex/auth"
            token-uri: "http://dex:5556/dex/token"
            jwk-set-uri: "http://dex:5556/dex/keys"
            user-info-uri: "http://dex:5556/dex/userinfo"
